<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>

    <!--Filters过滤器-->
    <filter>
        <description>设置所有请求的编码方式</description>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <filter-class>com.hui.filter.SetCharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>requestEncoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SetCharacterEncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <description>处理登录问题</description>
        <filter-name>SecurityFilter</filter-name>
        <filter-class>com.hui.filter.SecurityFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>SecurityFilter</filter-name>
        <url-pattern>/newpost</url-pattern>
    </filter-mapping>

    <!--Handler for all errors-->
    <error-page>
        <location>/error.html</location>
    </error-page>

    <!--Servlets-->

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.hui.servlet.LoginServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>com.hui.servlet.SignupServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
   

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.hui.servlet.LogoutServlet</servlet-class>
        <load-on-startup>4</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MainServlet</servlet-name>
        <servlet-class>com.hui.servlet.MainServlet</servlet-class>
        <init-param>
            <description>文章展示数量</description>
            <param-name>postsCount</param-name>
            <param-value>10</param-value>
        </init-param>

    </servlet>
    <servlet-mapping>
        <servlet-name>MainServlet</servlet-name>
        <!--suppress WebProperties -->
        <url-pattern>/index</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>TagServlet</servlet-name>
        <servlet-class>com.hui.servlet.TagServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>TagServlet</servlet-name>
        <url-pattern>/tag/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>BlogPostServlet</servlet-name>
        <servlet-class>com.hui.servlet.BlogPostServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlogPostServlet</servlet-name>
        <url-pattern>/post/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewPostServlet</servlet-name>
        <servlet-class>com.hui.servlet.NewPostServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewPostServlet</servlet-name>
        <url-pattern>/newpost</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>NewCommentServlet</servlet-name>
        <servlet-class>com.hui.servlet.NewCommentServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewCommentServlet</servlet-name>
        <url-pattern>/post/newcomment</url-pattern>
    </servlet-mapping>

</web-app>